<section id="top-bar" class="p-3">
  <div class="container">
    <div class="row">
      <div class="col-md-4" id="phone" dir="ltr">
        <i class="fas fa-phone"></i> (+212) 5-22-83-33-99
      </div>
      <div class="col-md-4" id="email" dir="ltr">
        <i class="fas fa-envelope-open"></i> daralafak@gmail.com
      </div>
      <div class="col-md-4">
        <div class="social text-left">
          <a href="https://web.facebook.com/profile.php?id=100006830358598">
            <i class="fab fa-facebook"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
