<section id="top-bar" class="p-3" style='background-color: white;'>
  <div class="container">
    <div class="row">
      <div class="col-md-4" id="phone" dir="ltr">
        <i class="fas fa-phone"></i> (+212) 5-22-83-33-99
      </div>
      <div class="col-md-4" id="email" dir="ltr">
        <i class="fas fa-envelope-open"></i> daralafak@gmail.com
      </div>
      <div class="col-md-4">
        <div class="social text-left">
			<a href="https://wa.me/message/ZKHGF4JBTJL7I1" style="color: #075E54; margin-left: 10px;">
				<i class="fab fa-whatsapp"></i>
			</a>
			<a href="https://www.instagram.com/daralafakalmaghribia/" style="color: #F56040;margin-left: 10px;">
				<i class="fab fa-instagram"></i>
			</a>
			<a href="https://web.facebook.com/profile.php?id=100006830358598">
				<i class="fab fa-facebook"></i>
			</a>
        </div>
      </div>
    </div>
  </div>
</section>
