{% extends 'base.html' %}
{% load static %}

{% block title %}
  {{ block.super }} - مؤلفات ذ. {{ author.name }}
{% endblock %}

{% block seo_meta %}
  <meta name="description" content="{{ author.description }}">
{% endblock %}

{% block content %}
<section id="showcase-inner" class="py-5 text-white">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12">
        <h1 class="display-5">مؤلفات ذ. {{ author.name }}</h1>
      </div>
    </div>
  </div>
</section>

<section id="bc" class="mt-3">
  <div class="container">
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a href="{% url 'index' %}">الصفحة الرئيسية</a>
        </li>
        <li class="breadcrumb-item">
          <a href="{% url 'authors' %}">المؤلفون</a>
        </li>
        <li class="breadcrumb-item active">ذ. {{ author.name }}</li>
      </ol>
    </nav>
  </div>
</section>

<section id="listing" class="py-4">
  <div class="container">
    <a href="{% url 'authors' %}" id="goback" class="btn btn-light mb-4 ml-auto">العودة للمؤلفين</a>
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12 text-center">
            {% if author.photo %}
            <img src="{{ author.photo.url }}" alt="" class="mb-3">
            {% else %}
            <img src="{% static 'img/user.png' %}" alt="" class="mb-3">
            {% endif %}

          </div>
        </div>
        <div class="row mb-5">
          <h3 class="text-center mb-3"> نبذة عن المؤلف</h3>
          <div class="col-md-12 force-right-dir">
            {{ author.description }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="publications" class="py-5">
  <div class="container">
    <h3 class="text-center mb-3"> إصدارات هذا المؤلف</h3>
    <div class="row">
      {% if books %}
      {% for book in books %}
        <div class="col-md-6 col-lg-4 mb-4">
          <div class="card book-preview">
            <img class="card-img-top mt-3" src="{{ book.front_image.url }}" alt="" width="150" height="191">
            <div class="card-img-overlay">
              <h2>
                <span class="badge badge-secondary text-white">{{ book.price }} د.م</span>
              </h2>
            </div>
            <div class="card-body">
              <div class="book-heading text-center">
                <h4 class="text-primary">{{ book.short_title }}</h4>
                <p>
                  <i class="fas fa-marker text-secondary"></i> ذ. {{ book.authors_names }}
                </p>
              </div>
              <hr>
              <div class="row py-2 text-secondary text-right">
                <div class="col-6">
                  <i class="fas fa-clock"></i> صدر في: {{ book.date_published }}</div>
                <div class="col-6">
                  <i class="fas fa-file-alt"></i> الصفحات: {{ book.pages }}</div>
              </div>
              <hr>
              <a href="{% url 'book' book.id %}" class="btn btn-block">معلومات عن الكتاب</a>
            </div>
          </div>
        </div>
      {% endfor %}
      {% else %}
      <div class="col-md-12 force-right-dir">
        <p>لا يوجد أي كتاب.</p>
      </div>
      {% endif %}

    </div>
  </div>
</section>
{% endblock %}