#logo {
  height: 60px;
}

#telephone {
  text-align: right;
}

#email {
  text-align: center;
}

.navbar, #main-footer {
  /* height: 76px; */
  background-color: #D10000 !important;
}

#search-section {
  min-height: 650px;
  background: url(../img/search_bg.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 6rem;
  color: #fff;
}

#search-div {
  background-color: rgba(51, 51, 51, 0.7);
}

#submit-btn, .dl-btns {
  background-color: #FB4B4E !important;
  color: #fff
}

#submit-btn:hover, .dl-btns:hover {
  background-color: #D10000 !important;
  color: #fff
}

.badge {
  background-color: #FB4B4E !important;
}

.book {
  text-align: center;
}

.card-img-top {
  width: 150px;
  height: 191px;
  display: inline-block;
  margin: auto;
}

.card-img-overlay {
  height: 30px;
}

.book-heading h4, .author-heading h4 {
  color: #D10000 !important;
}

.book-heading h4 {
  height: 75px;
}

.author-heading h4 {
  height: 40px;
}

.book-preview a {
  color: #fff;
  background-color: #D10000 !important;
}

.book-preview a:hover {
  color: #fff;
  background-color: #FB4B4E !important;
}

.text-secondary {
  color: rgba(124, 11, 43, 1) !important;
}

#showcase-inner {
  background: url(../img/brand_on_books.jpg) no-repeat top center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: relative;
  overflow: hidden;
  min-height: 200px; }
  #showcase-inner::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    min-height: 100%;
    width: 100%;
    background: rgba(124, 11, 43, 0.7); }
  
.book-imgs img {
  display: inline-block;
  margin: auto;
}

#goback {
  width: fit-content;
  display: block;
}

.pagination {
  width: fit-content;
  margin: auto;
}

.page-link  {
  color: #D10000;
}

.page-item.active .page-link {
  background-color: #D10000;
}

.force-right-dir {
  text-align: right;
}

.breadcrumb {
  background-color: #FFCBDD !important;
}

.breadcrumb a {
  color: #3E000C !important;
}

.btn-light {
  background-color: #FB4B4E !important;
  color: white !important;
}

.btn-light:hover {
  background-color: #FFCBDD !important;
  color: #333 !important;
}

thead th {
  background-color: #FB4B4E !important;
  color: #fff !important;
}

.responsive-img {
  width: 100%;
  height: auto;
}